In [1]:
import pandas as pd
from easy_ml import DIR_SAMPLE

filepath = DIR_SAMPLE.joinpath("sample.csv")

df = pd.read_csv(filepath)

No Key Found

In [2]:
df.shape

(30, 13)

In [3]:
df.head()

   Unnamed: 0  PassengerId  Survived  Pclass                      Name     Sex   Age  SibSp  Parch        Ticket  Fare Cabin Embarked
0         205          206         0       3  Strom, Miss. Telma Ma...  female  2.00      0      1        347054 10.46    G6        S
1          44           45         1       3  Devaney, Miss. Margar...  female 19.00      0      0        330958  7.88   NaN        Q
2         821          822         1       3         Lulic, Mr. Nikola    male 27.00      0      0        315098  8.66   NaN        S
3         458          459         1       2       Toomey, Miss. Ellen  female 50.00      0      0  F.C.C. 13531 10.50   NaN        S
4         795          796         0       2        Otter, Mr. Richard    male 39.00      0      0         28213 13.00   NaN        S

In [18]:
from sklearn.preprocessing import OneHotEncoder

enc = OneHotEncoder(drop='first',max_categories=4)
enc.fit(df[['Pclass','Sex']])
enc.categories_ , enc.feature_names_in_
# enc.categories_

# colnames = [i+"_"+ str(k) for i,j in zip(enc.feature_names_in_,enc.categories_) for k in j[:-1] ]
# colnames

([array([1, 2, 3]), array(['female', 'male'], dtype=object)],
 array(['Pclass', 'Sex'], dtype=object))

In [19]:
enc.get_feature_names_out()

array(['Pclass_2', 'Pclass_3', 'Sex_male'], dtype=object)

In [6]:
k = enc.categories_[0]

k , k[1:]

(array([1, 2, 3]), array([2, 3]))

In [17]:
enc.transform(df[['Pclass','Sex']]).toarray()

array([[1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 1.],
       [0., 1., 0.],
       [0., 1., 1.],
       [0., 0., 1.],
       [1., 0., 1.],
       [1., 0., 0.],
       [0., 0., 0.],
       [1., 0., 0.],
       [0., 0., 0.],
       [1., 0., 1.],
       [0., 1., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 1.],
       [0., 0., 0.],
       [0., 0., 1.],
       [0., 1., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       [0., 0., 0.],
       [1., 0., 1.],
       [1., 0., 0.],
       [1., 0., 1.],
       [1., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.]])

In [7]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
import pandas as pd


transformer = make_column_transformer(
    (OneHotEncoder(), ['Pclass']),
    remainder='passthrough')


transformed = transformer.fit_transform(df)
transformer.get_feature_names_out()
# transformed_df = pd.DataFrame(transformed, columns=transformer.get_feature_names())
# print(transformed_df.head())

array(['onehotencoder__Pclass_1', 'onehotencoder__Pclass_2',
       'onehotencoder__Pclass_3', 'remainder__Unnamed: 0',
       'remainder__PassengerId', 'remainder__Survived', 'remainder__Name',
       'remainder__Sex', 'remainder__Age', 'remainder__SibSp',
       'remainder__Parch', 'remainder__Ticket', 'remainder__Fare',
       'remainder__Cabin', 'remainder__Embarked'], dtype=object)